<mat-toolbar color="primary">
  <div id="logo">
    <mat-icon>bolt</mat-icon>
    <span>skym</span>
  </div>
  <div>
    <button mat-flat-button color="primary" routerLink="skimmer">Skimmer</button>
    <button mat-flat-button color="primary" routerLink="snippets">Snippets</button>

    <ng-container *ngIf="(auth.user | async) == null">
      <button mat-raised-button color="accent" (click)="login()">Login</button>
    </ng-container>
    <div id="auth" *ngIf="auth.user | async as user">
      <div id="username" class="hide-on-sm">{{user.displayName}}</div>
      <div id="photo" class="hide-on-sm"><img [src]="user.photoURL"></div>
      <button mat-stroked-button (click)="logout()">Logout</button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
