mat-toolbar {
    justify-content: space-between;
    align-items: center;

    div {
        display: inline-flex;
        align-items: center;
        gap: 15px;
    }

    #username {
        font-size: 15px;
    }

    #photo {
        height: 30px;
        clip-path: circle(50% at 50% 50%);

        img {
            height: 100%;
        }
    }
}