<mat-toolbar color="primary">
    <div>
        <mat-icon>bolt</mat-icon>
        <span>skym</span>
    </div>
    <div>
        <ng-container *ngIf="(auth.user | async) == null">
            <button mat-raised-button color="accent" (click)="login()">Login</button>
        </ng-container>
        <ng-container *ngIf="auth.user | async as user">
            <div id="username">{{user.displayName}}</div>
            <div id="photo"><img [src]="user.photoURL"></div>
            <button mat-stroked-button (click)="logout()">Logout</button>
        </ng-container>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>